/* anumal hero */
.animal__hero {
  text-align: center;
  margin-top: 4.5rem;
  height: 20vh;
  display: flex;
  align-items: center;
  background-image: url(/static/images/animal/animal__count.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 250px 200px 51px rgba(255, 255, 255, 0.5);
}

.animal__hero__title {
  font-size: 1.8rem;
  max-width: 1000px;
  margin: 0 auto;
}

.animal__hero__title-count {
  font-size: 3.5rem;
  display: inline-block;
  color: var(--color-blue);
  line-height: 50px;
}

/* petList */
.pet__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2.5rem 10px;
}
.pet__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.pet {
  width: calc(50% - 18px);
  height: 144px;
  margin: 0.5rem 0;
  padding-left: 160px;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.pet__thmb__box {
  position: absolute;
  width: 144px;
  height: 144px;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.pet__thmb {
  height: 100%;
}
.pet__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.875rem;
}

.pet__content > dt {
  color: #999;
  width: 40%;
  margin-bottom: 0.5rem;
}
.pet__content > dd {
  width: 60%;
  text-align: right;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#page > * {
  padding: 0.5rem 0.75rem;
}

#page > a {
  color: #afabab;
}

.num__box:hover {
  background-color: rgb(240, 240, 240);
}

.now__page {
  color: white;
  background-color: var(--color-blue);
}

@media all and (max-width: 940px) {
  .pet {
    width: 100%;
  }
}
