.find__hero {
  text-align: center;
  margin-top: 4.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ccc;
  /* background-image: url(/images/animal/animal__count.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 250px 200px 51px rgba(255, 255, 255, 0.5); */
}

.find__hero__title {
  font-size: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

.find__hero__title-img {
  width: 150px;
  margin: 2rem 0 0 0;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  animation: sparkle 1s linear infinite;
}

@keyframes sparkle {
  0% {
    filter: drop-shadow(2px 4px 6px black);
  }
  50% {
    filter: drop-shadow(2px 4px 12px black) sepia(1) brightness(0.5)
      saturate(100);
  }
  100% {
    filter: drop-shadow(2px 4px 6px black);
  }
}

.find__hero__regist {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 0 2rem 0;
  transform: translateY(-10px);
}

/* findAnimal */

.findAnimal {
  max-width: 1000px;
  padding: 0%;
  margin: 0 auto;
}

.findAnimal__list {
  width: 100%;
  padding: 1.5rem 10px;
}

.findAnimal__list__item {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: all 0.1s linear;
  cursor: pointer;
}

.image-area,
.findAnimal__content {
  width: 50%;
}
.image-area {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 20px;
}
.image-area > img {
  width: 100%;
}

.content-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0.5rem;
}

.content-top > dt {
  color: #999;
  width: 40%;
  margin-bottom: 0.5rem;
}
.content-top > dd {
  width: 60%;
  text-align: right;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.content-top > .lost__pet__content {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.findAnimal__list__item:hover {
  transform: scale(1.02);
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}

#page > * {
  padding: 0.5rem 0.75rem;
}

#page > a {
  color: #afabab;
}

.num__box:hover {
  background-color: rgb(240, 240, 240);
}

.now__page {
  color: white;
  background-color: var(--color-blue);
}

.lost__pet__detail__container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

.lost__pet__detail {
  max-width: 1000px;
  width: 100%;
  height: 80%;
  background-color: #eee;
  border-radius: 0 0.5rem 0 0.5rem;
  margin-top: 4.5rem;
  display: flex;
  padding: 0.5rem;
}

.close-btn {
  cursor: pointer;
  color: var(--color-red);
  font-size: 3.5rem;
  margin-top: 1rem;
}

.lost__pet-left,
.lost__pet-right {
  width: 50%;
  border: 1px solid #ccc;
  margin: 0.5rem;
  border-radius: 0 0.5rem 0 0.5rem;
}

.lost__pet-left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.lost__pet-left > img {
  width: 100%;
}
.lost__pet-right {
  overflow: auto;
}
.detail__content-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
  padding: 0.5rem;
}

.detail__content-top > dt {
  color: #999;
  width: 40%;
  margin-bottom: 0.5rem;
}
.detail__content-top > dd {
  width: 60%;
  text-align: right;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.detail__lost__pet__content {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}
@media all and (max-width: 650px) {
  .find__hero__title {
    font-size: 1.5rem;
  }
  .lost__pet__detail {
    flex-direction: column;
  }
  .lost__pet-left,
  .lost__pet-right {
    width: 100%;
    height: 40%;
    margin: 0;
  }

  .lost__pet-left {
    margin-bottom: 0.5rem;
  }
  .lost__pet-left > img {
    width: auto;
    height: 100%;
  }
  .lost__pet-right {
    height: 60%;
  }
  .detail__content-top > dt,
  .detail__content-top > dd {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
}
