.find__hero {
  text-align: center;
  margin-top: 4.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ccc;
  /* background-image: url(/images/animal/animal__count.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 250px 200px 51px rgba(255, 255, 255, 0.5); */
}

.find__hero__title {
  font-size: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

.find__hero__title-img {
  width: 150px;
  margin: 2rem 0 0 0;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  animation: sparkle 1s linear infinite;
}

@keyframes sparkle {
  0% {
    filter: drop-shadow(2px 4px 6px black);
  }
  50% {
    filter: drop-shadow(2px 4px 12px black) sepia(1) brightness(0.5)
      saturate(100);
  }
  100% {
    filter: drop-shadow(2px 4px 6px black);
  }
}

.find__hero__regist {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 0 2rem 0;
  transform: translateY(-10px);
}

/* findAnimal */

.findAnimal {
  max-width: 1000px;
  padding: 0%;
  margin: 0 auto;
}

.findAnimal__list {
  width: 100%;
  padding: 0;
  padding: 2.5rem 10px;
}

.findAnimal__list__item {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  transition: all 0.1s linear;
  cursor: pointer;
}

.image-area,
.findAnimal__content {
  width: 50%;
}
.image-area {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 20px;
}
.image-area > img {
  width: 100%;
}

.findAnimal__content {
  text-align: right;
}
.content-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 0.5rem;
}
.content-top > p {
  margin-bottom: 0.5rem;
}

.findAnimal__list__item:hover {
  transform: scale(1.02);
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}

#page > * {
  padding: 0.5rem 0.75rem;
}

#page > a {
  color: #afabab;
}

.num__box:hover {
  background-color: rgb(240, 240, 240);
}

.now__page {
  color: white;
  background-color: var(--color-blue);
}
