/* variable */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-blue: #0071e2;
}

/* Global */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

.L_text {
  font-size: 3rem;
}

ul {
  list-style: none;
}
/* Navbar */
#navbar {
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navbar__container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar__logo {
  font-size: 1.5rem;
}

.navbar__menu {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.navbar__menu > .navbar__menu__item {
  font-size: 0.8rem;
  margin-left: 0.8rem;
  white-space: nowrap;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
.navbar__menu > .navbar__menu__item.login {
  border: 1px solid var(--color-blue);
}

.navbar__menu > .navbar__menu__item.login a {
  color: var(--color-blue);
}

.navbar__menu > .navbar__menu__item.login:hover {
  background-color: var(--color-blue);
}
.navbar__menu > .navbar__menu__item.login:hover a {
  color: var(--color-white);
}

.navbar__menu__item:hover > a {
  color: var(--color-blue);
}

#navbar > i {
  font-size: 1.8rem;
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 2;
}

/* hero container */
.hero__container {
  width: 100%;
  height: 50vh;
  min-height: 20rem;
  margin-top: 4.5rem;
  background-image: url('/images/lost-dog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 250px 200px 51px rgba(255, 255, 255, 0.5);
}

.hero__content {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content > h4 {
  text-align: left;
  font-size: 2rem;
  margin-right: 0.2rem;

  align-self: flex-start;
}
.content-line {
  width: 50%;
  height: 3px;
  background-color: black;
  margin: 0 10px;
  margin: 20px 0;
  align-self: center;
}

.hero__content > h5 {
  text-align: right;
  font-size: 1rem;
  align-self: flex-end;
  color: var(--color-blue);
}
.register__button {
  width: 100px;
  padding: 0.4rem 0.8rem;
  border-radius: 2px;
  font-weight: 400;
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.register__button:link {
  color: var(--color-white);
}
.register__button:visited {
  color: var(--color-white);
}

/* mainAnimal */
.mainAnimal {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 2.5rem;
}
.mainAnimal__title {
  font-size: 1.7rem;
}
.mainAnimal__welcome {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
}
.mainAnimal__list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* newAnimal */
.newAnimal__list__item {
  width: calc(25% - 0.5rem);
  margin-bottom: 0.5rem;
}
.newAnimal__list__item:not(:last-child) {
  margin-right: 0.5rem;
}
.newAnimal__list__item > .image-area {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
.newAnimal__list__item > .image-area > img {
  width: 100%;
}

.content__bedge-area {
  display: flex;
  flex-wrap: wrap;
}

.content__bedge-area > .content__badge {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 0.3rem;
}

/* lostAnimal */
.lostAnimal__list__item {
  width: calc(50% - 0.5rem);
  height: 18.75rem;
  margin-bottom: 0.5rem;
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.lostAnimal__list__item:nth-child(odd) {
  margin-right: 0.5rem;
}

.lostAnimal__list__item > .image-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.lostAnimal__list__item > .image-area > img {
  width: 100%;
}

.lostAnimal__content {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  padding: 1.5rem;
  transform: translateY(100%);
  transition: all 0.2s ease-in-out;
}

.lostAnimal__list__item:hover .lostAnimal__content {
  transform: translateY(0);
}

.lostAnimal__content > .content-left,
.lostAnimal__content > .content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.lostAnimal__content > .content-left > p,
.lostAnimal__content > .content-right > p {
  font-size: 1rem;
  color: var(--color-white);
}

.lostAnimal__content > .content-left {
  justify-content: flex-end;
}

.lostAnimal__content > .content-right {
  justify-content: flex-start;
  text-align: right;
}

.lostAnimal__content > .content-right > p:first-child {
  justify-self: flex-start;
}

.lostAnimal__content > .content-right > p:last-child {
  font-size: 0.8rem;
}

/* Notice */
.notice {
  margin-bottom: 50px;
}
.notice__title {
  margin-bottom: 1rem;
}

.notice__container {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

.notice-card-left,
.notice-card-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.notice-card-left {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notice-card {
  border-radius: 20px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
}

.notice__content {
  color: var(--color-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.notice__content > .notice__content-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.notice__content > .notice__content-desc {
  font-size: 0.8rem;
  font-weight: 600;
}

.heightx1 {
  height: 14.75rem;
  margin-right: 0.5rem;
}

.heightx2 {
  height: 30rem;
}

/* media query */
@media screen and (max-width: 1000px) {
  .newAnimal__list__item {
    width: calc(50% - 0.5rem);
  }
  .newAnimal__list__item:not(:last-child) {
    margin-right: 0;
  }
  .newAnimal__list__item:nth-child(odd) {
    margin-right: 1rem;
  }
}

@media all and (max-width: 700px) {
  /* lostAnimal */
  .lostAnimal__list__item {
    width: 100%;
  }

  .lostAnimal__list__item:nth-child(odd) {
    margin-right: 0;
  }

  /* notice */
  .notice__container {
    flex-direction: column;
  }
  .notice-card-left,
  .notice-card-right {
    width: 100%;
  }
  .notice-card {
    margin-bottom: 0.5rem;
  }
}

@media all and (max-width: 650px) {
  /* navbar */
  .navbar__container {
    justify-content: center;
    flex-direction: column;
  }

  .navbar__logo {
    background-color: white;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar__menu {
    transform: translateY(-100%);
    background-color: var(--color-white);
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    padding-bottom: 0.8rem;
    z-index: 0;
  }
  .navbar__menu > .navbar__menu__item {
    margin: 0.1rem 0;
  }
  #navbar > i {
    display: block;
  }

  .navbar__showing {
    transform: translateY(0);
  }
}
