.login__container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 9rem;
}

.login__top-box,
.login__bottom-box {
  width: 15rem;
  display: flex;
  justify-content: center;
}

.login__top-box {
  margin-bottom: 1rem;
}

.login__top-box > img {
  width: 100%;
}
.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__form > input,
.login__form > button,
.login__form > p {
  margin-bottom: 0.5rem;
}

.login__form > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid black;
  outline-style: none;
  padding: 0.5rem 0.2rem;
}

.input__notMatch {
  font-size: 0.8rem;
  color: red;
  padding: 0 0.5rem;
}

.login__form > .form__button {
  width: 100%;
  background-color: white;
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
.login__form > .form__button {
  border: 1px solid var(--color-blue);
}
.login__form > .form__button {
  color: var(--color-blue);
}

.login__form > .form__button:hover {
  background-color: var(--color-blue);
}
.login__form > .form__button:hover {
  color: var(--color-white);
}
.login__form > .form__button:active {
  outline: none;
}
.login__form > .form__button:focus {
  outline: none;
}
