/* variable */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-blue: #0071e2;
}

/* Global */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  width: 100%;
  position: relative;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

.L_text {
  font-size: 3rem;
}

ul {
  list-style: none;
}
/* Navbar */
#navbar {
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navbar__container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar__logo {
  font-size: 1.5rem;
}

.navbar__menu {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.navbar__menu > .navbar__menu__item {
  font-size: 1rem;
  margin-left: 0.8rem;
  white-space: nowrap;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
.navbar__menu > .navbar__menu__item.login {
  border: 1px solid var(--color-blue);
}

.navbar__menu > .navbar__menu__item.login a {
  color: var(--color-blue);
}

.navbar__menu > .navbar__menu__item.login:hover {
  background-color: var(--color-blue);
}
.navbar__menu > .navbar__menu__item.login:hover a {
  color: var(--color-white);
}

.navbar__menu__item:hover > a {
  color: var(--color-blue);
}

#navbar > i {
  font-size: 1.8rem;
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 2;
}

/* media query */

@media all and (max-width: 650px) {
  /* navbar */
  .navbar__container {
    justify-content: center;
    flex-direction: column;
  }

  .navbar__logo {
    background-color: white;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar__menu {
    transform: translateY(-100%);
    background-color: var(--color-white);
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    padding-bottom: 0.8rem;
    z-index: 0;
  }
  .navbar__menu > .navbar__menu__item {
    margin: 0.1rem 0;
  }
  #navbar > i {
    display: block;
  }

  .navbar__showing {
    transform: translateY(0);
  }
}
